.card{
    position:relative;
    height:600px;
    width: 80%;
    margin: 0 auto;
    background-color:grey;
}

.card-img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.card-track-container{
    background:lightgreen;
    height:100%;
    position:relative;
    /* overflow: hidden; */
}
.card-track{
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
    height:100%;
    transition: tranform 250ms ease-in;
}

.card-slide{
    position: absolute;
    top: 0;
    bottom: 0;
    width:100%;
    opacity: 0;
    transition-duration: 1s ease;
}
.card-slide.active{
    opacity: 1;
    transition-duration:1s;
    transform: scale(1.0);
}

.card-button{
    position: absolute;
    top:50%;
    transform: translateY(-50%) !important;
    background: transparent;
    border:0;
    cursor: pointer;
}
.card-button-left{
    left:-40px;
}

.card-button-right{
    right:-40px;
}

.fa-chevron-left, .fa-chevron-right{
    /* width: 10px; */
    font-size: 20px;
    /* background-color:pink; */
}

.card-nav{
    /* background:pink; */
    display:flex;
    justify-content:center;
    padding: 10px 0;
}

.card-indicator{
    border:0;
    border:50%;
    width:15px;
    height:15px;
    background: rgba(0, 0, 0, .3);
    margin: 0 12px;
}   

.card-indicator.current-slide{
    background: rgba(0, 0, 0, .75);
}