.slider{
  background-color: var(--lighter);
  height: 90vh;
  margin-top: 5%;
}
.project-title{
  text-align: center;
  margin-bottom:2%;
  padding:1px 1px 3px 1px;
  font-size: 40px;
  position: relative;
}
.project-title:after{
  content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: var(--shadowDark);
}
.slider-content {
    position: relative;
    height: 500px;
    width:40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--shadowLight);
    /* outline: 2px solid var(--light); */
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
  }
  
.image {
  width: 100%;
  max-height: 200px;
  border-radius: 10px;
  padding:5px;
}

.slide h2{
    padding: 10px 2px 2px 2px;
}
p{
    padding: 10px 2px 2px 2px;
}
.right-arrow{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  background: transparent;
  border:0;
  cursor: pointer;
  right:-40px;
  color: var(--dark);
  font-size:30px;
}
.left-arrow{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  background: transparent;
  border:0;
  cursor: pointer;
  left:-40px;
  color: var(--dark);
  font-size:30px;

}
.slide {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
/* transform: scale(1.08); */
}
.btn--live a{
  color: var(--shadowLight);
}
.btn--viewSource a{
  color: var(--shadowLight);
}
@media screen and (max-width:500px){
.slider-content {
  max-height:  450px;
}
.project-title{
  font-size: 25px;
}
}