.slider{
  background-color: var(--lighter);
  min-height: 80vh;
  margin-top: 3%;
}
.project-title{
  text-align: center;
  top:10px;
  margin-bottom:5%;
  padding:1px 1px 3px 1px;
  font-size: 40px;
  position: relative;
}
.project-title:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: var(--shadowDark);
}
.slider-content {
    position: relative;
    min-height: 500px;
    min-width:40%;
    max-width: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: var(--shadowLight);
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
  }
  
.image {
  width: 100%;
  max-height: 200px;
  border-radius: 10px;
  padding:5px;
}

.slide h2{
    padding: 10px 2px 2px 2px;
    font-size: 35px;
}
.slide p{
    padding: 10px 2px 2px 2px;
    font-size:25px;
}
.right-arrow{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  background: transparent;
  border:0;
  cursor: pointer;
  right:-40px;
  color: var(--dark);
  font-size:30px;
}
.left-arrow{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  background: transparent;
  border:0;
  cursor: pointer;
  left:-40px;
  color: var(--dark);
  font-size:30px;

}
.slide {
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
/* transform: scale(1.08); */
}
.btn--live a{
  color: var(--shadowLight);
  text-decoration: none;
}
.btn--viewSource a{
  color: var(--shadowLight);
  text-decoration: none;
}
@media screen and (max-width:500px){
.slider{
  min-height: 75vh;
}
.project-title{
  font-size: 35px;
}
.slide h2{
  /* padding: 10px 2px 2px 2px; */
  font-size: 30px;
}
.slide p{
  /* padding: 10px 2px 2px 2px; */
  font-size:15px;
}
}