.skill-section{
    min-height: 30vh;
    background-color: var(--lighter);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3%;

}
.skill-content{
    width: 50%;
    text-align: center;
}
.skill-content h2{
    padding: 1px 1px 3px 1px;
    font-size:40px;
    margin: 2px 0 2px 0;
    position: relative;
}
.skill-content h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: var(--shadowDark);
}
.skill-content p{
    font-size:20px;
    text-align: center;
}  
@media screen and (max-width: 562px){
    .skill-content h2 {
        font-size:35px;
    }
    .skill-content p{
        font-size:15px;    
    }
}