.home{
    height: 90vh;
    background-color: var(--lighter);
    display: flex;
    justify-content:space-evenly;
    color: rgb(0, 0, 0);
    margin-bottom: 5%;
}
.home-data{
    margin-top:10%;
    font-size:50px;
    display: flex;
    flex-direction:column;
}
.home-title{
  padding:10px;
}
.home-title-name{
    color: var(--shadowDark);
}
.btn--mail a{
    color: var(--shadowLight);
    text-decoration: none;
}
.home-social-icon{
    display: flex;
    justify-content:center;
    align-items:flex-end;
}
.home-social-icon a{
    padding: 2% 5% 2% 5%;
    color:var(--dark);
}
.home-img{
   margin-top:80px;
   width:550px;
   height:550px; 
}

@media screen and (max-width: 895px){
    .home{
        height: 90vh;
        background-color: var(--lighter);
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items:center;
        color: rgb(0, 0, 0);
    }
    .home-data{
        margin-top: 10%;
        font-size:40px;
    }
    .home-img{
        margin-top:10px;
        width:350px;
        height:350px; 
     }
}
@media screen and ( max-width:525px){
    .home-data{
        font-size: 25px;
    }
    .home-img{
        margin-top:20px;
        width:250px;
        height:250px; 
     }
}



