
.btn {
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {    
    transition: all 0.3s ease-out;
    transition: 250ms;
}

.btn--primary {
    background-color: red;
}

.btn--outline {
    background-color: transparent;
    color:var(--lighter);
    border: 2px solid var(--lighter);
}
.btn--outline:hover{
    background-color: var(--lighter);
    color:var(--shadowDark); 
}
.btn--mail {
    background-color: var(--dark);
    border: 2px solid var(--lighter);
    margin-top:10%;
    border-radius: 30px;
}
.btn--mail:hover{
    background-color:var(--shadowDark); 
}
.btn--live{
    display:block;
    background-color: var(--dark);
    border: 2px solid var(--lighter);
    margin-top:10%;
}
.btn--viewSource{
    display:block;
    background-color: var(--dark);
    border: 1px solid var(--dark); 
    margin-top:2%;

}
.btn-submit{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: var(--dark);
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}
.btn-submit:hover{
    background-color: var(--light);
}

.btn--medium {
    padding: 8px 20px;
    font-size: 18px;

}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;

}